/* Dedicated to God the Father */

/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2024 */

/* https://github.com/ChristopherTopalian */

/* https://github.com/ChristopherAndrewTopalian */

/* style001.css */

body
{
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
    overflow: none;
}

a
{
    text-decoration: none;
    color: rgb(100, 100, 100);
}

a:hover
{
    text-decoration: underline;
}

pre
{
    font-size: 20px;
}

b
{
    color: rgb(0, 255, 255);
}

.buttonContainer
{
    display: flex;
    flex-direction: row;
}

.square
{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    font-size: 12px;
    text-align: center;
    line-height: 0px;
}

.square:hover
{
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
}

.square:active
{
    cursor: grabbing;
}

.buttonDivCircle
{
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4.2px;
    padding-bottom: 4px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.buttonDivCircle:hover
{
    border-color: rgb(0, 255, 255);
    cursor: pointer;
}

.buttonDivCircle:active
{
    border-color: rgb(0, 255, 255);
    border-width: 4px;
    color: rgb(0, 255, 255);
    cursor: grabbing;
}

